<div [@routerTransition]>
    <app-page-header [heading]="'管理第三方应用'" [icon]="'fa-th-list'"></app-page-header>
    <div class="col-xl-12">
        <form (ngSubmit)="paginateQuery(null)" #searchForm="ngForm" >
            <div class="row mb-2">
                <div class="col-2 text-left">
                    名称
                </div>
                <div class="col-4 text-left">
                    <input type="text" [(ngModel)]="searchData.name" class="form-control" name="name" id="idName">
                </div>
                <div class="col-2 text-left">
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">查询</button>&nbsp;<button type="button" class="btn btn-warning" (click)="toEdit('')">增加</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-12">
        <p-table [value]="listData">
            <ng-template pTemplate="header">
                <tr>
                    <th>名称</th>
                    <th>编码</th>
                    <th>appId</th>
                    <th>secret</th>
                    <th>商户ID</th>
                    <th>icon</th>
                    <th>签名算法</th>
                    <th>操作</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        {{item.name}}
                    </td>
                    <td>{{item.code}}</td>
                    <td >{{item.appId}}</td>
                    <td >{{item.secret}}</td>
                    <td >{{item.merchId}}</td>
                    <td>{{item.icon}}</td>
                    <td>{{item.signType}}</td>
                    <td>
                        <button class="btn btn-outline-secondary" (click)="toView(item.id)">查看</button>&nbsp;
                        <button class="btn btn-outline-secondary" (click)="toEdit(item.id)">编辑</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator [rows]="pageNav.itemsPerPage" [totalRecords]="pageNav.totalElements" (onPageChange)="paginateQuery($event)"></p-paginator>
    </div>
</div>
