<div [@routerTransition]>
    <app-page-header [heading]="'查看第三方系统'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row" *ngIf="thirdData">
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">名称:</div>
                <div class="col-8 font-weight-bold">{{thirdData.name}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">代码:</div>
                <div class="col-8 font-weight-bold">{{thirdData.code}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">AppId:</div>
                <div class="col-8 font-weight-bold">{{thirdData.appId}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">secret:</div>
                <div class="col-8 font-weight-bold">{{thirdData.secret}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">HostUrl:</div>
                <div class="col-8 font-weight-bold">{{thirdData.hostUrl}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">回调URL:</div>
                <div class="col-8 font-weight-bold">{{thirdData.callbackUrl}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">merchId:</div>
                <div class="col-8 font-weight-bold">{{thirdData.merchId}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">密码:</div>
                <div class="col-8 font-weight-bold">{{thirdData.password}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">协议:</div>
                <div class="col-8 font-weight-bold">{{thirdData.protocal}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">端口号:</div>
                <div class="col-8 font-weight-bold">{{thirdData.port}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">签名算法:</div>
                <div class="col-8 font-weight-bold">{{thirdData.signType}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">公钥:</div>
                <div class="col-8 font-weight-bold">{{thirdData.publicKey}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">私钥:</div>
                <div class="col-8 font-weight-bold">{{thirdData.privateKey}}</div>
            </div>
        </div>

    </div>
    <div class="row">
        <button class="btn btn-primary" (click)="toEdit()">编辑</button>&nbsp;<button class="btn btn-secondary" (click)="goBack()">返回</button>
    </div>
</div>
